@import "../../src/screens/scss/colors";

.basic {
  padding: 1rem 2rem;
  font-size: 18px;
  border: none;
  color: #fff;
  margin: 1rem;
  outline: none;
  border-radius: 20px;
}

.btn {
  background-color: $reddish-tomato;
}

.resident-btn {
  background-color: $teal-steel;
}

.staff-btn {
  background-color: $sea-blue;
}

.default-color {
  background-color: $sea-blue;
}

.submit-color {
  background-color: $positive-green;
}

.logout-color {
  background-color: $out-red;
}
