@import "../../src/screens/scss/colors";

.basic {
  padding: 1rem 2rem;
  font-size: 18px;
  border: none;
  color: #fff;
  margin: 1rem;
  outline: none;
  border-radius: 20px;
}

.btn {
  background-color: $kaya-green;
}

.add-queue-btn {
  background-color: $golden-ticket;
}

.resident-btn {
  background-color: $royal-purple;
}

.staff-btn {
  background-color: $chocolate-brown;
}

.default-color {
  background-color: $sea-blue;
}

.submit-color {
  background-color: $positive-green;
}

.logout-color {
  background-color: $out-red;
}
