.btn {
  background-color: tomato;
  padding: 1rem 2rem;
  font-size: 18px;
  border: none;
  color: #fff;
  margin: 1rem;
  outline: none;
  border-radius: 20px;
}

.default-color {
  background-color: #0a75ad;
}

.submit-color {
  background-color: teal;
}

.logout-color {
  background-color: tomato;
}
